{% extends 'base.html' %}
{% block content %}
<head>
    <title>Payment Successful Page</title>
    <meta name="description" content="Informs the user if the payment has been successful">
</head>
<header class="bg-success py-5 bodys-container">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
           <h1 class="display-4 fw-bolder">Your Payment was successful.</h1> 
           <p class="lead fw-normal text-white-50 mb-0">Thankyou for using The Phone Shop</p>
           <a href="{% url 'index' %}" class="btn btn-secondary my-4 mx-2">Home</a>
        </div>
    </div>
</header>

{% endblock %}