.align-middle {
    align-items: center;
}

.card-custom-title {
    flex-grow: 1;
    text-align: center;
    color: rgba(53, 51, 51, 0.8);
    padding-bottom: 6px;
    
}

.card-custom-price {
    flex-grow: 1;
    text-align: center;
}

.card-custom-description {
    flex-grow: 1;
    height: 6em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    color: rgba(53, 51, 51, 0.497);
}

.sale-badge {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%);
}

.img-small {
    width: 180px;
    height: 180px;
    padding: 10px;
}

.card-size {
    margin: auto;
}

.cart-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.bodys-container {
    height: calc(100vh - 136px - 56px);
}

.social-networks {
    text-align: center;
    vertical-align: top;
    display: flex;
    justify-content: center;
    gap: 45px;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 30px;
    margin: 1%;
    padding: 5%;
    color: white;
}

.product-form {
    display: flex;
    justify-content: center;
}

.product-form--submit {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.form-control-gray {
    color: gray;
}

@media screen and (min-width: 1000px) {
    .cart-container {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
    
    .cart-items {
        width: 65%;
    }
    
    .cart-summary {
        width: 30%;
    }
}
