{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/cart_summary.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<header>
    {% include 'navbar.html' %}
</header>

<body>
    {% if messages %}
        {% for message in messages %}
            <div class="mx-6 alert {% if message.tags == 'error' %} alert-danger {% else %} alert-primary {% endif %} alert-dismissible fade show" role="alert">
                <center><strong>{{message}}</strong></center>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    {% block content %} {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="https://js.stripe.com/v3"></script>
    <script src="{% static 'js/payments.js' %}"></script>
    <script src="https://kit.fontawesome.com/2cc81c8112.js" crossorigin="anonymous"></script>
</body>

<footer class="bg-success py-1 sticky-bottom mt-4">
    <div class="container"> 
        <div class="newsletter-container mb-3">
            <a class="newsletter-link" href="{% url 'newsletters' %}">Subscribe to our Newsletter &nbsp; <i class="bi bi-arrow-right-circle-fill"></i></a>
        </div>
        <ul class="social-networks">
            <li>
                <a href="https://www.facebook.com/people/The-Phone-Shop/61556320673915/" target="_blank" rel="noopener"
                    aria-label="Visit our Facebook page (opens in new tab)"><i
                        class="fa-brands fa-square-facebook"></i></a>
            </li>
            <li>
                <a href="http://twitter.com" target="_blank" rel="noopener"
                    aria-label="Visit our Twitter page (opens in new tab)"><i
                        class="fa-brands fa-square-twitter"></i></a>
            </li>
            <li>
                <a href="http://instagram.com" target="_blank" rel="noopener"
                     aria-label="Visit our Instagram page (opens in new tab)"><i
                        class="fa-brands fa-square-instagram"></i></a>
            </li>
            <li>
                <a href="http://youtube.com" target="_blank" rel="noopener"
                    aria-label="Visit our youtube page (opens in new tab)"><i
                        class="fa-brands fa-square-youtube"></i></a>
            </li>
        </ul>
        <p class="text-white m-o text-center" > Copyright &copy; PhoneShop 2024. All rights reserved </p>
    </div>
   
</footer>

</html>